</textarea>
<br><input type="submit" value="Update" class="update_button">
</form>
</div>
<hr>
</div>
<div class="container signin">
<p><a href="/create/">[create]</a> | <a href="#" onclick="edit_page()">[edit]</a> | <a href="/pages/">[pages]</a> | <a href="/img/">[img]</a> | <a href="/">[home]</a> | <a href="/page/English">[english]</a></p>
</div>

<script>
function edit_page() {
    document.getElementById("edit_content").style.display = "block";
    document.getElementById("content").style.display = "none";
}
</script>

</body>
</html>
